<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="{{ '/assets/images/icon.png' }}">
  <!-- Place favicon.ico in the root directory -->
  <link rel="shortcut icon" href="{{ '/assets/images/icon.png' }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Playfair+Display:wght@300;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/edab0e178c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' }}">

  {% if page.print_stylesheet %}
      <link rel="stylesheet" media="print" href="{{ '/assets/css/print.css' }}">
  {% endif %}


  <meta name="theme-color" content="#fafafa">
  {% seo %}
  {% feed_meta %}
</head>
