  <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img class="img-fluid" width="250px" height="33" src="{{ 'assets/images/logo.png' | relative_url }}" alt="sunhyungi studio" />
    </a>

    {%- include nav_items.html -%}

    <div class="col-md-3 text-end">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 mt-md-2">
        {%- if site.social.instagram -%}
        <li><a rel="noopener" target="_blank" href="https://www.instagram.com/{{ site.social.instagram | cgi_escape | escape }}" title="{{ site.social.instagram | escape }}"><i class="fab fa-instagram"></i></a></li>
        {%- endif -%}
        <!-- {%- if site.social.facebook -%}<li><i class="fab fa-facebook-f"></i></li>{% endif %}
        {%- if site.social.twitter -%}<li><i class="fab fa-twitter"></i></li>{% endif %} -->
      </ul>
    </div>
  </header>
