
// $bg-primary: #fff1ee;
// $bg-secondary: #FCE8E4;
// $bg-primary: #DBCEB6;
// $btn-color: #996666;

// color swatch https://coolors.co/ccd5ae-e9edc9-fefae0-faedcd-d4a373
$pale-spring-bud: #ccd5aeff;
$light-goldenrod-yellow: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$fawn: #d4a373ff;

// color swatch from https://coolors.co/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c
$antique-brass: #cb997eff;
$desert-sand: #ddbea9ff;
$champagne-pink: #ffe8d6ff;
$ash-gray: #b7b7a4ff;
$artichoke: #a5a58dff;
$ebony: #6b705cff;

// set colors

// $bg-primary: $cornsilk;
// $bg-secondary: $light-goldenrod-yellow;
// $bg-3: $pale-spring-bud;
// $btn-color: $fawn;

$bg-primary: $champagne-pink;
$bg-secondary: $desert-sand;
$bg-3: $ash-gray;
$btn-color: $antique-brass;

$white: #fff;
$gray: #333;

$link-dark: #212529;

$gray-600: #6c757d;
