// $bg-primary: #fff1ee;
// $bg-secondary: #FCE8E4;
// $bg-primary: #DBCEB6;
// $btn-color: #996666;

// color swatch https://coolors.co/ccd5ae-e9edc9-fefae0-faedcd-d4a373
$pale-spring-bud: #ccd5aeff;
$light-goldenrod-yellow: #e9edc9ff;
$cornsilk: #fefae0ff;
$papaya-whip: #faedcdff;
$fawn: #d4a373ff;

// color swatch from https://coolors.co/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c
$antique-brass: #cb997eff;
$desert-sand: #ddbea9ff;
$champagne-pink: #ffe8d6ff;
$ash-gray: #b7b7a4ff;
$artichoke: #a5a58dff;
$ebony: #6b705cff;

// set colors

// $bg-primary: $cornsilk;
// $bg-secondary: $light-goldenrod-yellow;
// $bg-3: $pale-spring-bud;
// $btn-color: $fawn;

$bg-primary: $champagne-pink;
$bg-secondary: $desert-sand;
$bg-3: $ash-gray;
$btn-color: $antique-brass;

$white: #fff;
$gray: #333;

$link-dark: #212529;

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

header {
  background-color: $bg-primary;

  .dark-link {
    color: $link-dark;
  }

  .nav {
    a{
      &:link {
        color: $link-dark;
        text-decoration: underline;
      }
      // &:hover {
      //   font-size: 18px;
      // }
    }
  }
}

main {

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }

  #about {
    background: url('/assets/images/vase.png') no-repeat right center;
  }

  .jumbotron {
    color: $white;
    background-image: url("https://source.unsplash.com/t9sRlYIzfIQ/1600x900");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .btn-purchase {
    background-color: $btn-color;
    color: $white;
    &:hover {
      background-color: lighten($btn-color, 40%);
      color: $gray;
    }
  }

  #newsletter {
    background-color: $bg-secondary;
    padding-top: 10rem;
    text-align: center;
    padding-bottom: 8rem;

    h2 { font-weight: 700; }
  }
}

.spacer {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

footer {
  background-color: $bg-primary;
  background-image: url('/assets/images/bottom.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;

}
