$header-bg: #fff1ee;
$btn-color: #996666;

$white: #fff;
$gray: #333;

body {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 16px;
}

header {
  background: $header-bg;
}

main {

  h1 {
    font-family: 'Playfair Display', serif;
  }

  .jumbotron {
    color: $white;
    background-image: url("https://source.unsplash.com/t9sRlYIzfIQ/1600x900");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .btn-purchase {
    background-color: $btn-color;
    color: $white;
    &:hover {
      background-color: lighten($btn-color, 40%);
      color: $gray;
    }
  }
}
